body{
    margin:0;
    padding:0;
    text-align:left;
    font-size: 32px;
    font-family:"Open Sans",'ヒラギノ角ゴ ProN W3', Hiragino Kaku Gothic ProN, "メイリオ", Meiryo, sans-serif;   
        font-size: 1.6rem;

}
header{
    background-color:orange;
    border-bottom: 1px solid #ccc;
    text-align: center;
    /* position: relative; */
    
}

h1{
text-align: center;
/* position: absolute; */
top: 0;
right: 0;
bottom: 0;
left: 0;
margin: auto;
font-family: 'Rampart One', cursive;
}

.sugimoto{
    text-align: center;
}

.okamura {
    transition: opacity 3s; /* opacity要素(不透明度)の変更を3秒間かけて行う */
  }

.naraberu{
display: flex;
justify-content: space-between;
}

.comments{
    display: flex;
    justify-content: space-between;
    padding: 50px;
    font-size: 40px;

}

.question_sugimoto{
    font-family: 'Rampart One', cursive;
    font-size: 70px;
    text-align: center;


}

.okamura_comment{
text-align: right;
}

main{
    border-bottom:1px solid #ccc;
}
footer{
    background-color: #fff;
    border-bottom:1px solid #ccc;
    text-align: center;
}



p{
    /* font-size:200%; */
    text-align: center;
    border-bottom:1px solid #fff;
    /* height:200px; */
}
ul{
    padding: 0;
    border-top: 1px solid #000000;
    display:table;  /* 定義 */
    table-layout: fixed;
    width:100%;
}
li{
    text-align: center;
    list-style-type:none;
    border: 1px solid #666;
    background-color: #FFF;
    display:table-cell;  /* 定義 */
    cursor: pointer;
    margin: 10px;

}
li:hover{
    background: #0066CC;
    color:#fff;
}

.nishikigoi{
 text-align: center;
}

.question{
    font-size: 24px;
   
}

.main_question{
    margin: 120px 120px 120px 120px;

}


.box27 {
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 3px #62c1ce;
}
.box27 .box-title {
    position: absolute;
    display: inline-block;
    top: -27px;
    left: -3px;
    padding: 0 9px;
    height: 20px;
    line-height: 25px;
    font-size: 22px;
    background: #62c1ce;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
}
.box27 p {
    margin: 0; 
    padding: 0;
    font-size: 30px;
}

.start{
    text-align: center;
    width: auto;
    
    
   
}

#btn{
    color: #fff;
    background-color: #eb6100;
    padding: 40px 80px 40px 80px;
    font-size: 40px;
}



/* ボタン */
/* *,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
} */
/* 
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
} */


.center{
    text-align: center;
}

.btn,
a.btn,
button.btn {
    text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

.btn--orange,
a.btn--orange {
  color: #fff;
  background-color: #eb6100;
}

.btn--orange:hover,
a.btn--orange:hover {
  color: #fff;
  background: #f56500;
}


